<!DOCTYPE html>
<html>
  <head>
    <title>UDL Server</title>
  </head>
  <body style="text-align: center; padding-top: 50px;">

    <h1>Something went wrong</h1>

    <p><code><%= udl_error %></code></p>
    <p>Check the server configuration for more details</p>

  </body>
</html>
